.App {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

body {
  background: #3AAFAB;
  color: white;
  font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
}
