.App {
  text-align: center;
}

body {
  background: #3AAFAB;
  color: white;
  font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
}

.story {
  border: 1px solid white;
  margin-left: 20px;
  margin-right: 20px;
}
